{% for entry in oracle_tns_names -%}
{{ entry.name }} =
  (DESCRIPTION =
    {% if entry.load_balance is defined -%}
    (LOAD_BALANCE = {% if entry.load_balance %}YES{% else %}NO{% endif %})
    {% endif -%}
    {% if entry.failover is defined -%}
    (FAILOVER = {% if entry.failover %}YES{% else %}NO{% endif %})
    {% endif -%}
    {% if entry.hosts| default([ansible_fqdn]) | length > 1 %}
    (ADDRESS_LIST =
    {% endif %}
    {% for host in entry.hosts | default([ansible_fqdn]) -%}
    (ADDRESS = (PROTOCOL = {{ entry.protocol | default('TCP')}})(HOST = {{ host | default(ansible_fqdn) }})(PORT = {{ entry.port | default(1521) }}))
    {% endfor -%}
    {% if entry.hosts| default([ansible_fqdn]) | length > 1 %}
    )
    {% endif %}
    (CONNECT_DATA =
      (SERVER = {{ entry.server | default('DEDICATED')}})
      {% if entry.service_name is defined -%}
      (SERVICE_NAME = {{ entry.service_name }})
      {% endif -%}
      {% if entry.sid is defined -%}
      (SID = {{ entry.sid }})
      {% endif -%}
      {% if entry.ur is defined -%}
      (UR = {{ entry.ur }})
      {% endif -%}
    )
  )

{% endfor -%}
